## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [2]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [3]:
df1 = pd.read_csv('gasolina_2000+.csv')
df2 = pd.read_csv('gasolina_2010+.csv',low_memory=False)
df3 = pd.concat([df1,df2])

In [4]:
#quantidade de linhas e colunas
df3.shape

(120823, 19)

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [5]:
df3.info()
#object = string
df3.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 78184
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     120823 non-null  int64
 1   DATA INICIAL                   120823 non-null  object
 2   DATA FINAL                     120823 non-null  object
 3   REGIÃO                         120823 non-null  object
 4   ESTADO                         120823 non-null  object
 5   PRODUTO                        120823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 7   UNIDADE DE MEDIDA              120823 non-null  object
 8   PREÇO MÉDIO REVENDA            120823 non-null  float64
 9   DESVIO PADRÃO REVENDA          120823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           120823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 12  MARGEM MÉDIA REVENDA           120823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(2), object(12)
memory usage: 18.4+ MB

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [6]:
df4 = df3['DATA INICIAL'].iloc[2:4]
print(df4.dtypes)

object

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [7]:
df3[['DATA INICIAL','DATA FINAL']] = df3[['DATA INICIAL','DATA FINAL']].apply(pd.to_datetime)

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [8]:
import datetime

#pra concatenar é necessario passar a coluna do dataframe para astype(str) 
df3['aaaa-mm'] =  df3['DATA FINAL'].dt.year.astype(str)+'-'+df3['DATA FINAL'].dt.month.astype(str)
df3

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,aaaa-mm
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004-5
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,2004-5
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,2004-5
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,2004-5
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,2004-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78180,120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5
78181,120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5
78182,120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5
78183,120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5
78184,120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [9]:
df3['PRODUTO'].value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [10]:
df4 = df3[df3['PRODUTO'] == 'GASOLINA COMUM']
df4

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,aaaa-mm
9256,12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-5
9257,12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-5
9258,12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-5
9259,12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-5
9260,12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78083,120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5
78084,120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5
78085,120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5
78086,120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5
78087,120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-5

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [11]:
df4[df4['aaaa-mm'] == '2008-8']['PREÇO MÉDIO REVENDA'].mean()

2.6012444444444442

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [12]:
df4[(df4['aaaa-mm'] == '2014-5') & (df4['ESTADO'] == 'SAO PAULO')]["PREÇO MÉDIO REVENDA"].mean()

2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [13]:
df4[(df4['PREÇO MÉDIO REVENDA'] > 5)][['ESTADO','PREÇO MÉDIO REVENDA','aaaa-mm']]

               ESTADO  PREÇO MÉDIO REVENDA aaaa-mm
55563            ACRE                5.053  2018-5
55709            ACRE                5.035  2018-6
55855            ACRE                5.038  2018-6
55873  RIO DE JANEIRO                5.016  2018-6
56008            ACRE                5.031  2018-6
...               ...                  ...     ...
78083         RORAIMA                5.364  2021-5
78084  SANTA CATARINA                5.051  2021-5
78085       SAO PAULO                5.265  2021-5
78086         SERGIPE                5.586  2021-5
78087       TOCANTINS                5.751  2021-5

[353 rows x 3 columns]

### 11. Qual a média de preço dos estados da região sul em 2012?

In [14]:
df3['ano'] = df3['DATA FINAL'].dt.year
filtro = df3[(df3["ano"]==2012) & (df3["REGIÃO"]=="SUL")]["PREÇO MÉDIO REVENDA"].mean()
filtro

9.842052564102564

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [20]:
df3["MES"] = df3["DATA FINAL"].apply(lambda x: x.month)
df_rio = df3[df3["ESTADO"] == "RIO DE JANEIRO"]

In [27]:
df_month_rio = df_rio.groupby("aaaa-mm")[["PREÇO MÉDIO REVENDA","MES"]].last()

In [44]:
((df_month_rio[df_month_rio["MES"] == 12] / df_month_rio[df_month_rio["MES"] == 12].shift(1) - 1) * 100).rolling(3).sum()

         PREÇO MÉDIO REVENDA  MES
aaaa-mm
2004-12                  NaN  NaN
2005-12                  NaN  NaN
2006-12                  NaN  NaN
2007-12            12.179646  0.0
2008-12            14.308030  0.0
2009-12            10.237125  0.0
2010-12             9.719128  0.0
2011-12            -3.485967  0.0
2012-12             7.093871  0.0
2013-12           -14.193260  0.0
2014-12            -7.684139  0.0
2015-12             3.990059  0.0
2016-12            22.805461  0.0
2017-12            24.904365  0.0
2018-12            42.958745  0.0
2019-12            70.179452  0.0
2020-12            58.826088  0.0

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [73]:
df_max = df4.groupby("aaaa-mm").max()["PREÇO MÉDIO REVENDA"]
df_min = df4.groupby("aaaa-mm").min()["PREÇO MÉDIO REVENDA"]

idx_max = df4.groupby("aaaa-mm")["PREÇO MÉDIO REVENDA"].idxmax()
idx_min = df4.groupby("aaaa-mm")["PREÇO MÉDIO REVENDA"].idxmin()

In [74]:
idx_max

aaaa-mm
2004-10     9906
2004-11    10014
2004-12    10068
2004-5      9296
2004-6      9420
           ...
2021-1     75570
2021-2     76454
2021-3     76991
2021-4     77525
2021-5     78061
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: int64

In [75]:
idx_min

aaaa-mm
2004-10     9850
2004-11     9954
2004-12    10062
2004-5      9306
2004-6      9360
           ...
2021-1     75047
2021-2     76101
2021-3     76633
2021-4     77706
2021-5     78063
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: int64

In [55]:
df_diff = pd.DataFrame()

In [60]:
df_diff["abs_diff"] = df_max - df_min
df_diff["percent_diff"] = (df_max - df_min) / df_min * 100

In [84]:
df4.loc[idx_max, :]["ESTADO"].values

array(['MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'ACRE', 'MATO GROSSO',
       'ACRE', 'MATO GROSSO', 'ACRE', 'MATO GROSSO', 'MATO GROSSO',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'ACRE', 'ACRE',
       'ACRE', 'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'ACRE',
       'ACRE', 'RORAIMA', 'RORAIMA', 'ACRE', 'MATO GROSSO', 'ACRE',
       'ACRE', 'ACRE', 'MATO GROSSO', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'CEARA', 'MATO GROSSO', 'MATO GROSSO', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'MATO GROSSO DO SUL', 'ACRE', 'ACRE', 'RONDONIA', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'PARAIBA', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'MINAS GERAIS', 'ACRE', 'RORAIMA',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'PERNAMBUCO', 'ACRE', 'SERGIPE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'RORAIMA',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'PARANA', 'ACRE', 'CEARA', 'ACRE',
       'TOCANTINS', 'ACRE', 'SAO PAULO', 'ACRE', 'RIO GRANDE DO NORTE',
       'ACRE', 'MARANHAO', 'ACRE', 'AMAZONAS', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'RIO DE JANEIRO', 'RIO DE JANEIRO',
       'RIO DE JANEIRO', 'ACRE', 'ACRE', 'RIO DE JANEIRO', 'ACRE', 'ACRE',
       'ACRE', 'RIO DE JANEIRO', 'RIO DE JANEIRO', 'RIO DE JANEIRO',
       'ACRE', 'ACRE', 'ACRE', 'RIO DE JANEIRO', 'RIO DE JANEIRO',
       'RIO DE JANEIRO', 'RIO DE JANEIRO', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE'], dtype=object)

In [81]:
df_diff

         abs_diff  percent_diff ESTADO_MAX
aaaa-mm
2004-10     0.625     31.048187        NaN
2004-11     0.509     24.471154        NaN
2004-12     0.517     23.607306        NaN
2004-5      0.550     29.131356        NaN
2004-6      0.584     30.543933        NaN
...           ...           ...        ...
2021-1      1.383     36.109661        NaN
2021-2      1.688     40.960932        NaN
2021-3      2.109     46.058091        NaN
2021-4      1.450     30.353779        NaN
2021-5      1.391     28.580234        NaN

[204 rows x 3 columns]

In [85]:
df_diff["ESTADO_MAX"] = df2.loc[idx_max, :]["ESTADO"].values
df_diff["ESTADO_MIN"] = df2.loc[idx_max, :]["ESTADO"].values

In [86]:
df_diff

         abs_diff  percent_diff          ESTADO_MAX          ESTADO_MIN
aaaa-mm
2004-10     0.625     31.048187        MINAS GERAIS        MINAS GERAIS
2004-11     0.509     24.471154  MATO GROSSO DO SUL  MATO GROSSO DO SUL
2004-12     0.517     23.607306             PARAIBA             PARAIBA
2004-5      0.550     29.131356  MATO GROSSO DO SUL  MATO GROSSO DO SUL
2004-6      0.584     30.543933      ESPIRITO SANTO      ESPIRITO SANTO
...           ...           ...                 ...                 ...
2021-1      1.383     36.109661                ACRE                ACRE
2021-2      1.688     40.960932                ACRE                ACRE
2021-3      2.109     46.058091                ACRE                ACRE
2021-4      1.450     30.353779                ACRE                ACRE
2021-5      1.391     28.580234                ACRE                ACRE

[204 rows x 4 columns]